:root
{
   --blue: #2C2546;
   --dark-blue: #181535;
   --bluee: rgb(0, 162, 255);
   --white: white;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'tahoma';
}

body
{
    background-color: rgb(41, 41, 41);
    color: rgb(71, 71, 71);
}

header
{
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2%;
    top: 0;
    font-weight: bold;
    font-size: 15pt;
    justify-content: center;
    text-align: center;
    background-color: rgb(71, 71, 71);
}

.lolo {
    color: red;
}

.lele {
    width: 30%;
    border: none;
    border-radius: 0 0 0 10px;
    padding: 2px;
}

.lala
{
    margin-left: -5px;
    border: none;
    border-radius: 0 10px 0 0;
    padding: 2px;
    background-color: rgb(238, 0, 0);
    color: rgb(255, 255, 255);
    width: 5%;
}

nav
{
    margin-top: 15px;
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center
}

nav ul li a
{
    color: white;
}

nav ul li a:hover
{
    border-bottom: 3px solid white;
}

.gab {
    width:15%;
    height: 15%;
}

.gambar
{
    width: 10%;
    height: 10%;
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.slide2
{
    width: 50rem;
    transition: 0.5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}

.choose_3:checked ~ .slides > .s2
{
    margin-left: -100rem;
}

.choose_4:checked ~ .slides > .s2
{
    margin-left: -150rem;
}

.choose_5:checked ~ .slides > .s3
{
    margin-left: -200rem;
}

.choose_6:checked ~ .slides > .s3
{
    margin-left: -250rem;
}

.choose_7:checked ~ .slides > .s4
{
    margin-left: -300rem;
}

.produkff
{
    width: 15%;
    height: 25%;
}

.produkff2
{
    width: 15%;
    height: 25%;
}

.produkml
{
    width: 15%;
    height: 25%;
}

.produkhok
{
    width: 15%;
    height: 25%;
}

.produkpubg
{
    width: 15%;
    height: 25%;
}

.produk
{
    width: 15%;
    height: 25%;
}

.produkpubg
{
    width: 15%;
    height: 25%;
}

.populer
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 5%;
    margin-right: 5%;
}
.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.p
{
    color: rgb(255, 255, 255);
}

.ff1
{
    width: 80%;
    border-radius: 25px;
}

.ff1:hover
{
   border-style: groove;
}

.ml
{
    width: 80%;
    border-radius: 25px;
}

.ml:hover
{
   border-style: groove;
}

.pubg
{
    width: 80%;
    border-radius: 25px;
}

.pubg:hover
{
    border-style: groove;
}

.pess
{
    width: 80%;
    height: 50%;
    border-radius: 25px;
}

.pess:hover
{
   border-style: groove;
}

.honor
{
    width: 80%;
    height: 50%;
    border-radius: 25px;
}

.honor:hover
{
   border-style: groove;
}

.dominos
{
    width: 80%;
    border-radius: 25px;
}

.dominos:hover
{
   border-style: groove;
}

.judulproduk
{
    color: white;
    font-size: 20px;
    font-style: oblique;
}

.tyty
{
    color: #ffffff;
}

.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    color: rgb(255, 255, 255);
}
 
.card
{
    background-color: rgb(99, 99, 99);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px black;
}
 
.card h1
{
    text-align: center;
}
 
html
{
    scroll-behavior: smooth;
}
 
 
footer
{
    display: grid;
    justify-content: center;
    background-color: rgb(71, 71, 71);
    margin-top: 10%;
    padding: 2%;
}
 
.sosmed img 
{
    width: 50px;
}
 
#copyright
{
    text-align: center;
    padding: 10px;
}

.str
{
    color: white;
}

.as
{
    color: red;
}

.x
{
    color: white;
}

@media screen and (max-width: 600px) {
    .slider
    {
        display: none;
    }

    .titlepp
    {
        padding-top: 6rem;
        padding-left: rem;
        margin-right: 0px;
    }

    .populer
    {
        display: grid;
        grid-template-columns: repeat(3,1);
    }

    .link img
    {
        width: 80%;
    }

    .tentang
    {
        width: 90%;
        padding-left: 2rem;
        font-size: 13pt;
    }
    
}

.s
{
    color: white;
}