body
{
    background-color: rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    list-style: none;
    padding: 5%;

}

.as
{
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
}

.p
{
   color: #ffffff;
   padding-left: 15.5rem;
   margin-bottom: 10px;
   display: contents;
}

.logoff
{
    border-style: solid;
   padding: 0;
   margin-left: 5rem;
}

.title
{
    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 48rem;
    font-size: large;    
}

.cara
{
    color: white;
    background-color: rgb(97, 97, 97);
    width: 765px;
    display: grid;
    justify-content: center;
    background-color: rgb(71, 71, 71);
    margin-top: 3%;
    padding: 2%;
    border-radius: 15px 15px 0 0;
}

.cara2
{
    color: white;
    font-size: 20pt;
    background-color: rgb(97, 97, 97);
    width: 785px;
    border-radius: 0 0 15px 15px;
}

.top
{
color: rgb(150, 150, 150);
font: 900;
border-radius: 0 0 15px 15px;
}

.po
{
    margin-top: 3%;
    color:#ffffff;
    background-color: rgb(71, 71, 71);
    border-radius: 15px 15px 0 0;
    font-weight: 100;
}



.dm
{
    color: white;
    background-color: rgb(97, 97, 97);
    width: 770px;
    margin-bottom: 10rem;
    border-radius: 15px 15px 0 0;
    height: 1000px;
}

.hag
{
    background-color: rgb(71, 71, 71);
    width: 770px;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding-top: .5rem;
}

.lis
{
    margin-left: 0.3rem;
}

.harga
{
    color: white;
}

.hagaf
{
    color: #ffffff;
    background-color: rgb(71, 71, 71);
    width: 230px;
    margin-top: 2rem;
    margin-left: 2rem;
   }

.lvl
{
    color: white;
    margin-left: 1rem;
    font-size: 20pt;
}

.fflvl
{
    width: 15%;
    margin-left: 11.5rem;
}

.byyh
{
    color: #ffffff;
    background-color: rgb(71, 71, 71);
    width: 230px;
    margin-top: 2rem;
    margin-left: 2rem;
   }

.byh
{
    color: #ffffff;
    margin-left: 1rem;
    font-size: 20pt;
}

.ber
{
    color: #ffffff;
    background-color: rgb(71, 71, 71);
    width: 230px;
    margin-bottom: 100rem;
    margin-left: 25rem;
    font-size: 10pt;
    font-style: initial;
}

@media screen and (max-width: 60px) {
    .daftar
    {
        display: grid;
        grid-template-rows: repeat(4,1);
    }
}
